<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="a">

    <form role="form" action="/home/save" method="post" enctype="multipart/form-data">
        <p>이미지 크기는 ~~~~를 권장합니다.</p>

        <input type="file" id="image_id" name="file">
        <div class="selectImage"><img src=""/></div>
        <script>
            $("#image_id").change(function(){
                if(this.files && this.files[0]) {
                    var reader = new FileReader;
                    reader.onload = function(data) {
                        $(".selectImage img").attr("src", data.target.result).width(500);
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        </script>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>