<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="a">

    <form th:object="${form}" method="post" enctype="multipart/form-data">
        <p>이미지 크기는 ~~~~를 권장합니다.</p>

<!--        타입-->
        <input type="text" th:field="*{menu_type}" placeholder="메뉴 타입을 적어주세요.">
<!--        이미지 업로드-->

        <input type="file" id="image_id" name="file" th:field="*{fileSave}">
        <div class="selectImage"><img id="existing_img" th:if="${not #strings.isEmpty(form.filePath)}" th:src="@{/hohoImages/menu/{fileName}(fileName=${form.fileName})}" width="500"/></div>

        <!-- 생략 (파일을 변경하지 않을 경우 기존 파일 정보를 보내기 위해서)-->
        <input type="hidden" th:field="*{filePath}" />
        <input type="hidden" th:field="*{fileName}" />

        <script th:inline="javascript">
            $(document).ready(function() {
                // 파일 선택(input 태그)의 변경 이벤트를 감지하여 이미지를 미리보기로 표시
                $("#image_id").change(function() {
                    if (this.files && this.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function(data) {
                            $("#existing_img").attr("src", data.target.result).width(500);
                        };
                        reader.readAsDataURL(this.files[0]);
                    }
                    // 이미지 파일의 이름 가져오기
                    var fileName = /*[[${fileName}]]*/ '';

                    // 이미지 경로 생성
                    var imagePath = '/hohoImages/menu/' + fileName;

                    // 이미지 경로가 이미 존재하는 경우 해당 이미지를 미리보기로 표시
                    if (fileName.trim() !== '') {
                        $("#existing_img").attr("src", imagePath).width(500);
                    }
                });
            });
        </script>
<!--        메뉴 이름-->
        <input type="text" th:field="*{menu_name}" placeholder="메뉴 이름을 적어주세요.">
<!--        메뉴 재료 및 소개-->
        <textarea th:field="*{menu_ingredient}" placeholder="메뉴 재료 및 소개를 적어주세요." style="height: 50px"></textarea>
<!--        메뉴 가격-->
        <input type="number" th:field="*{menu_price}" placeholder="메뉴 가격을 적어주세요.">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>